
.header{
    height: 250px;
    background-color: #72C2A4;
    border-color: #707070;
    border-radius:  25px 25px 25px 25px;

}
.header p{
    font-size: 90px;
    margin-right: 100px;
    float: right;
    margin-top: 30px;
    

}
.header img{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
    border-radius: 50px;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 98%;
   position: absolute;
   float: right;
}

li {
    float: right;
    margin-top: 10px;
}
li a{
    width: 80px;
    display: block;
    color: #E76500;
    background-color: #C4C4C4;
    border-color: #707070;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin-right: 5px;

}
li a:hover{
    background-color: white;
}
.icon-user img{
    width:  45px;
    height: 45px;
    border-radius: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;

}
.icon-shop img{
    width: 45px;
    height:  45px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.btn{
    width: 112px;
    color: #E76500;
    background-color: #C4C4C4;
    border-color: #ada9a9;
    border-radius:10px 10px 10px 10px;
    height: 30px;
    font-size: 24px;
}

.search-box{
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.search-box input{
    width: 300px;
    height: 30px;
    margin-top: 0;
    float: left;
    text-align: right;

}
.search-btn {
    color: dimgrey;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
   
}
.search-btn:hover {
    background-color: orange;
}
.footer{
	width:99%;
	background-color:#4A7D74;
	bottom:0;
	float:right;
	color: ivory;
    border-color: #707070;
    border-radius: 10px;
    

}
footer p{
    margin-right: 40px;
    margin-top: 50px;
    font-size: 40px;
}
.footer-img img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
}
.box1 {
    background-color: white;
    border-color: dimgray;
    border-style: solid;
    height: 300px;
    width: 95%;
    margin-left: 50px;
    margin-top: 5px;
    height: 400px;
    padding-bottom: 10px;


}
.box2 {
    width: 260px;
    height: 260px;
    background-color: #F9C47E;
    float: right;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
    
    
}
.box3 {
    width: 220px;
    height: 135px;
    background-color: white;
    margin-left: 15px;
    box-shadow: 2px 2px #aaaaaa;

}
.box4 {
    width: 150px;
    height: 50px;
    background-color: white;
    float: right;
    margin-top: 50px;
    margin-right: 25px;
    box-shadow: 2px 2px 2px #aaaaaa;
   
    
}
.icon-shop-plus img{
    width:  45px;
    height: 45px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 20px;

}
.box1 p{
    font-size: 38px;
    color: #DB5202;
    border-color: #6F5948;
    text-align: right;
    margin-top: 0;
    padding-top: 5px;
    padding-right: 30px;
    margin-bottom: 5px;
}
.more img{
    width:  45px;
    height: 45px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 100px;
}