
.header{
    
    height: 250px;
    background-color: #72C2A4;
    border-color: #707070;
    border-radius:  25px 25px 25px 25px;

}
.header p{
    font-size: 90px;
    margin-right: 100px;
    float: right;
    margin-top: 30px;
    

}
.header img{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
    border-radius: 50px;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 98%;
   position: absolute;
   float: right;
}

li {
    float: right;
    margin-top: 10px;
}
li a{
    width: 80px;
    display: block;
    color: #E76500;
    background-color: #C4C4C4;
    border-color: #707070;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin-right: 5px;

}
li a:hover{
    background-color: white;
}
.icon-user img{
    width:  45px;
    height: 45px;
    border-radius: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;

}
.loading img{
	float: center;
	 width:  85%;
    height: 20px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 10px; 
	margin-right: 10px;
}
.icon-shop img{
    width: 45px;
    height:  45px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.btn{
    width: 112px;
    color: #E76500;
    background-color: #C4C4C4;
    border-color: #ada9a9;
    border-radius:10px 10px 10px 10px;
    height: 30px;
    font-size: 24px;
}

.submit{
    width: 98px;
    height: 40px;
    color: #72C2A4;
    background-color: #804900;
    border-color: #707070;
    border-radius: 50px;


}
.form1  {
    float: right;
    width: 23%;
	height: 350px;
	border-width: medium;
	 border-style: solid;
    border-color: #707070;
    border-radius:  25px 25px 25px 25px;
	font-size: 15px;
	font-color: #804900;
}



.box1 {
	float: left;
    background-color: white;
    border-color: dimgray;
	border-width: medium;
    border-style: solid;
	 border-radius:  0px 0px 0px 0px;
    height: 340px;
    width: 70%;
    margin-left: 50px;
	margin-bottom: 50px;
    padding-bottom: 20px;


}
.box2 {
	
    width: 230px;
    height: 220px;
	 border-style: solid;
	border-width: thin;
	border-color: dimgray;
    background-color: #F9C47E;
    float: right;
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    
    
}
.box3 {
    width: 210px;
    height: 130px;
    background-color: white;
    margin-left: 10px;
	margin-right: 10px;
    box-shadow: 2px 2px #aaaaaa;

}
.box4 {
    width: 125px;
    height: 40px;
    background-color: white;
    float: right;
    margin-top: 30px;
	margin-right: 10px;
    box-shadow: 2px 2px 2px #aaaaaa;
   
    
}
.icon-shop-plus img{
    width:  40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 20px;

}
.box1 p{
    font-size: 80px;
    color: #DB5202;
    border-color: #6F5948;
    text-align: right;
    margin-top: 0;
    padding-top: 5px;
    padding-right: 30px;
    margin-bottom: 10px;
}



.email{
    border-radius: 15px 15px 15px 15px ;
    height: 30px;
    text-align: left;
    padding: 5px;
    font-size: 20px;
    opacity: 0.9;
}

.search-box{
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.search-box input{
    width: 300px;
    height: 30px;
    margin-top: 0;
    float: left;
    text-align: right;

}
.search-btn {
    color: dimgrey;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
   
}
.search-btn:hover {
    background-color: orange;
}
.footer{
	width:100%;
	background-color:#4A7D74;
	bottom:0;
	float:right;
	color: ivory;
    border-color: #707070;
    border-radius: 10px 10px 0px 0px;

}
footer p{
    margin-right: 40px;
    margin-top: 50px;
    font-size: 40px;
	font-family: IRDast Nevis;
}
.footer-img img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
}

.edit-filter-modal-hidden select option{
	  font-size: 14px;
    color: #804900;
    border-color: #6F5948;
    text-align: right;
    margin-top: 0;
    padding-top: 3px;
    padding-right: 30px;
    margin-bottom: 3px;
	
}
.edit-filter-modal-hidden select{
	 float: center;
	 width:  85%;
    display: block;
    color: #804900;
    background-color: #FFFFFF;
    border-color: #707070;
    border-radius: 10px;
	border-shadow: 2px 2px #aaaaaa;
    text-decoration: none;
    text-align: center;
    padding: 11px;
    margin-right: 10px;
	font-weight: bold;
	
}

.form1 p{
	  font-size: 80px;
    color: #DB5202;
    border-color: #6F5948;
    text-align: right;
    margin-top: 0;
    padding-top: 5px;
    padding-right: 30px;
    margin-bottom: 10px;
}
